<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layoutPadrao}" lang="pt_BR">
<head>
    <title>Source</title>
</head>

<body>
	<div layout:fragment="conteudo">
		<nav class="navbar navbar-color navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">					
				</div>			
				<a class="btn btn-link link-panel pull-right" href="/pessoas/">Listar Pessoas</a>	
			</div>
			
		</nav>
		<div class="content" >
			<div class="container" style="width: 800px !important;">
				<ul class="lessons-list background-git">
				 <h1>Link do Projeto</h1>
		            <a href="https://github.com/felipevianna86/CadastroPessoa" target="_blank">GITHUB</a>
		        </ul>
			</div>
       	</div>
    </div>
  </body>
</html>